  
  .comprobanteDetails {
    margin: 2rem auto 0;
    padding: 1rem 3rem;
    background-color: #2e2e2e;
    border-radius: 8px;
    color: #ffffff;
    max-width: 50%;
  }
  
  .comprobanteDetails h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .comprobanteDetails p {
    margin: 0.5rem 0;
  }
  
  .form {
    display: grid;
    gap: 1rem;
  }
  
  .form label {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: #ffffff;
  }

  .saveButton {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: #ff4500;
  }
  
  .saveButton:active {
    background-color: #e03e00;
  }